{volist name="article" id="art"}
{if $i == 1 || $i == 2}
{$art.title} {$i} <br />
{elseif $i == 3 || $i == 4/}
{$art.title} {$i} <br />
{elseif $i == 5 || $i == 6/}
{$art.title} {$i} <br />
{/if}

{/volist}
{:count($article)}
{$article->render()}


{volist name="article" id="art"}
	{php}$total = count($article);{/php}
	{switch name="$i"}
		{case value="1"}<div id="A3-left">{/case}
		{case value="3"}<div id="A3-middle">{/case}
		{case value="5"}<div id="A3-right">{/case}
	{/switch}

	产品{$i}
	
	{switch name="$i"}
		{case value="2"}</div>{/case}
		{case value="4"}</div>{/case}
		{case value="6"}</div>{/case}
	{/switch}

	{if $total%2 && $i == $total}</div>{/if}
	

{/volist}





<div id="wrapper-post2" class="text-part-A5">
	<a href=""><div id="A3-left-image-2"><img src="__STATIC__/IMG/image6-01.jpg"  alt="Auto-resized image" title="Auto-resized image" class="grow"/></div></a>

	<div id="wrapper-A3-left-date-2">
		<div id="A3-left-date-2">20 nov, 2016</div>
		<div id="A3-left-icone-2"></div>
	</div>
	<ul>
		<li><div id="A3-left-title-2"><a href="">Auto-resized image</a></div></li>
	</ul>
	<div id="A3-left-text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
</div>


<div id="wrapper-post3" class="text-part-A5">
	<a href=""><div id="A3-middle-image-3"><img src="__STATIC__/IMG/image3-01.jpg"  alt="Another post" title="Another post" class="grow"/></div></a>

	<div id="wrapper-A3-middle-date-3">
		<div id="A3-middle-date-3">19 nov, 2016</div>
		<div id="A3-middle-icone-3"></div>
	</div>
	<ul>
		<li><div id="A3-middle-title-3"><a href="">Another post</a></div></li>
	</ul>
	<div id="A3-middle-text-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
</div>