{volist name="article" id="art"}
{if $i == 1 || $i == 2}
{$art.title} {$i} <br />
{elseif $i == 3 || $i == 4/}
{$art.title} {$i} <br />
{elseif $i == 5 || $i == 6/}
{$art.title} {$i} <br />
{/if}
{/volist}

{$article->render()}

{if $i == 1 || $i == 2}
<div id="A3-left">
	<!-- 每列两个,分为三列：A-3left/middle/right -->
	<div id="wrapper-post1" class="text-part-A5">
		<a href=""><div id="A3-left-image-1"><img src="__STATIC__/IMG/image1-01.jpg"  alt="alt" title="title" class="grow"/></div></a>

		<div id="wrapper-A3-left-date-1">
			<div id="A3-left-date-1">TIME</div>
			<div id="A3-left-icone-1"></div>
		</div>
		<ul>
			<li><div id="A3-left-title-1"><a href="">TITLE</a></div></li>
		</ul>
		<div id="A3-left-text-1">DESC</div>
	</div>
	<div id="wrapper-post2" class="text-part-A5">
		<a href=""><div id="A3-left-image-2"><img src="__STATIC__/IMG/image6-01.jpg"  alt="alt" title="TITLE" class="grow"/></div></a>

		<div id="wrapper-A3-left-date-2">
			<div id="A3-left-date-2">TIME</div>
			<div id="A3-left-icone-2"></div>
		</div>
		<ul>
			<li><div id="A3-left-title-2"><a href="">TITLE</a></div></li>
		</ul>
		<div id="A3-left-text-2">DESC</div>
	</div>

</div>
{/if}



<div id="A3-left">
	<!-- 每列两个,分为三列：A-3left/middle/right -->
	<div id="wrapper-post1" class="text-part-A5">
		<a href=""><div id="A3-left-image-1"><img src="__STATIC__/IMG/image1-01.jpg"  alt="post an image with animation" title="post an image with animation" class="grow"/></div></a>

		<div id="wrapper-A3-left-date-1">
			<div id="A3-left-date-1">21 nov, 2016</div>
			<div id="A3-left-icone-1"></div>
		</div>
		<ul>
			<li><div id="A3-left-title-1"><a href="">Post an image with animation</a></div></li>
		</ul>
		<div id="A3-left-text-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
	</div>
	<div id="wrapper-post2" class="text-part-A5">
		<a href=""><div id="A3-left-image-2"><img src="__STATIC__/IMG/image6-01.jpg"  alt="Auto-resized image" title="Auto-resized image" class="grow"/></div></a>

		<div id="wrapper-A3-left-date-2">
			<div id="A3-left-date-2">20 nov, 2016</div>
			<div id="A3-left-icone-2"></div>
		</div>
		<ul>
			<li><div id="A3-left-title-2"><a href="">Auto-resized image</a></div></li>
		</ul>
		<div id="A3-left-text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
	</div>

</div>

<div id="A3-middle">

	<div id="wrapper-post3" class="text-part-A5">
		<a href=""><div id="A3-middle-image-3"><img src="__STATIC__/IMG/image3-01.jpg"  alt="Another post" title="Another post" class="grow"/></div></a>

		<div id="wrapper-A3-middle-date-3">
			<div id="A3-middle-date-3">19 nov, 2016</div>
			<div id="A3-middle-icone-3"></div>
		</div>
		<ul>
			<li><div id="A3-middle-title-3"><a href="">Another post</a></div></li>
		</ul>
		<div id="A3-middle-text-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
	</div>

	<div id="wrapper-post4" class="text-part-A5">
		<a href=""><div id="A3-middle-image-4"><img src="__STATIC__/IMG/image4-01.jpg"  alt="Another post" title="Another post" class="grayscale" /></div></a>

		<div id="wrapper-A3-middle-date-4">
			<div id="A3-middle-date-4">18 nov, 2016</div>
			<div id="A3-middle-icone-4"></div>
		</div>
		<ul>
			<li><div id="A3-middle-title-4"><a href="">Another post</a></div></li>
		</ul>
		<div id="A3-middle-text-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
	</div>

</div>

<div id="A3-right">

	<div id="wrapper-post5" class="text-part-A5">
		<a href=""><div id="A3-right-image-5"><img src="__STATIC__/IMG/image5-01.jpg"  alt="Post with transition image" title="Post with transition image" class="grow" /></div></a>

		<div id="wrapper-A3-right-date-5">
			<div id="A3-right-date-5">15 nov, 2016</div>
			<div id="A3-right-icone-5"></div>
		</div>
		<ul>
			<li><div id="A3-right-title-5"><a href="">Post with transition image</a></div></li>
		</ul>
		<div id="A3-right-text-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
	</div>

	<div id="wrapper-post6" class="text-part-A5">
		<a href=""><div id="A3-right-image-5"><img src="__STATIC__/IMG/image2-01.jpg"  alt="Another post" title="Another post" class="grow"/></div></a>

		<div id="wrapper-A3-right-date-6">
			<div id="A3-right-date-6">14 nov, 2016</div>
			<div id="A3-right-icone-6"></div>
		</div>
		<ul>
			<li><div id="A3-right-title-6"><a href="">Another post</a></div></li>
		</ul>
		<div id="A3-right-text-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
	</div>

</div>




<div id="A">
	{volist name="article" id="art"}
	<div id="wrapper-post1" class="text-part-A5">
		产品
	</div>
	{/volist}
	<div id="wrapper-post1" class="text-part-A5">
		产品
	</div>
</div>

<div id="B">
	<div id="wrapper-post1" class="text-part-A5">
		产品
	</div>
	<div id="wrapper-post1" class="text-part-A5">
		产品
	</div>
</div>
<div id="C">
	<div id="wrapper-post1" class="text-part-A5">
		产品
	</div>
	<div id="wrapper-post1" class="text-part-A5">
		产品
	</div>
</div>

{$article->render()}


<div id="left>
	{volist id="res"}
	{if $i == 1 || $i == 2}
	产品
</div>
<div id="A1">
	{elseif $i == 3 || $i == 4/}
	{/volist}
</div>



<div>
	{volist name="article" id="art"}
	商品
	{switch name="$i"}
	{case value="1"}</div><div id="left">{/case}
	{case value="3"}</div><div id="middle">{/case}
	{case value="5"}</div><div id="right">{/case}
	{/switch}
	{/volist}
</div>

每页6条数据
{}
<div id="A">
	产品1
	产品2
</div>
<div id="B">
	产品3
	产品4
</div>
<div id="C">
	产品5
	产品6
</div>