<!-- 文章信息 -->
<div id="A5"> 
 
	<div id="wrapper-A5">
    
        <div id="wrapper-part-left" class="text-part-A5">
        	<div id="A5-left" class="wow flipInX animated" data-wow-offset="10" style="visibility: visible; animation-name: flipInX;">
    			<div id="left-text-post"><strong>Most browsed post</strong></div>
            	<div id="left-line-post"></div>
            	<div id="left-line2-post"></div>
			<ul>	
			{volist name="most_view" id="most_view"}
                <li><div id="left-text-post-{$i}"><strong><a href="{:url('index/article/index', ['id' => $most_view['id']])}">{$most_view.title}</a></strong></div></li>
           	{/volist}
        	</ul>
            </div>
        </div>
        
        <div id="wrapper-part-mid" class="text-part-A5">
        	<div id="A5-middle" class="wow flipInX animated" data-wow-offset="10" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: flipInX;">
    			<div id="mid-text-post"><strong>Categories</strong></div>
            	<div id="mid-line-post"></div>
            	<div id="mid-line2-post"></div>
			<ul>
			{volist name="cate" id="bot_ca"}
                <li><div id="mid-text-post-1"><strong><a href="{:url('index/index/index')}?keywords={$bot_ca.catename}">{$bot_ca.catename}</a></strong></div></li>
            {/volist}
        	</ul>
            </div>
        </div>
        
        <div id="wrapper-part-right" class="text-part-A5">
        	<div id="A5-right" class="wow flipInX animated" data-wow-offset="10" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: flipInX;">
    			<div id="right-text-post"><strong>Link</strong></div>
            	<div id="right-line-post"></div>
            	<div id="right-line2-post"></div>
			<ul>	
			{volist name="link" id="li"}
				<li><div id="right-text-post-{$i}"><strong><a href="{$li.url}" target="_blank">{$li.name}</a></strong></div></li>
			{/volist}
           </ul>
           </div>
        </div>
        
    <div class="A5-calage"></div>
	</div>
    
</div>

<!-- 阅读信息 -->
<div id="A5b"> 
 
	<div id="wrapper-A5b">
    
        <div id="wrapper-A5b-part-left">
        	<div id="A5b-left" class="wow flipInX animated" data-wow-offset="10" style="visibility: visible; animation-name: flipInX;">
    			<div id="left-A5b-text-post">{$art_count}</div>
            	<div id="left-A5b-line-post"></div>
            	<div id="left-A5b-line2-post"></div>
				<div id="left-A5b-text-post-1"><strong>Posts</strong></div>
        	</div>
        </div>
        
        <div id="wrapper-A5b-part-mid">
        	<div id="A5b-middle" class="wow flipInX animated" data-wow-offset="10" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: flipInX;">
    			<div id="mid-A5b-text-post">{$view_count}</div>
            	<div id="mid-A5b-line-post"></div>
            	<div id="mid-A5b-line2-post"></div>
				<div id="mid-A5b-text-post-1"><strong>Likes</strong></div>
        	</div>
        </div>
        
        <div id="wrapper-A5b-part-right">
        	<div id="A5b-right" class="wow flipInX animated" data-wow-offset="10" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: flipInX;">
    			<div id="right-A5b-text-post">{$tour_count}</div>
            	<div id="right-A5b-line-post"></div>
            	<div id="right-A5b-line2-post"></div>
				<div id="right-A5b-text-post-1"><strong>Views</strong></div>
           </div>
        </div>
        
    <div class="A5b-calage"></div>
	</div>
    
</div>

<!-- 联系方式 -->
<div id="A6">

<div id="wrapper-social" class="wow bounceInLeft animated" data-wow-offset="10" style="visibility: visible; animation-name: bounceInLeft;">
    
    	<div id="main-behance">
    		<div id="cadre-behance" class="object">
        		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1573646491&site=alexa.ferre.com&menu=yes" title="qq"><div id="behance" class="object">q</div></a>
    		</div>
        </div>
        
        <div id="main-dribbble">
    		<div id="cadre-dribbble" class="object">
      	  		<a target="_blank" href="https://weibo.com/3877828291/profile?rightmod=1&wvr=6&mod=personinfo" title="微博"><div id="dribbble" class="object">w</div></a>
    		</div>
        </div>

		<div id="main-facebook">
    		<div id="cadre-facebook" class="object">
	        	<a target="_blank" href="https://github.com/FerreWagner" title="github"><div id="facebook" class="object">g</div></a>
        	</div>
        </div>
 <!-- 
		<div id="main-google">
    		<div id="cadre-google" class="object">
        		<div id="google" class="object">y</div>
        	</div>
        </div>
        
        <div id="main-linked">
    		<div id="cadre-linked" class="object">
        		<div id="linked" class="object">I</div>
        	</div>
        </div> -->
        
    </div>
</div>

<!-- 底部版权信息 -->
<div id="A7">

	<div id="wrapper-A7">
    <div id="line-A7"></div>
	<div id="copyright"><strong>{$config.record}<a target="_blank" href="https://github.com/FerreWagner/Alexa">Github</a></strong></div>
    </div>
    
</div>