<div id="main-wrapper-menu">
  <div id="wrapper-cross"></div>
	<div id="wrapper-menu">
	
    <div class="recent-post text-part-menutab">
        <ul>
        <li><div id="recent-post-title">Our recent post</div></li>
        {volist name="post" id="po"}
        	<li><div id="recent-post-1"><a href="{:url('index/article/index', ['id' => $po['id']])}">{$po.title}</a></div></li>
        {/volist}
        </ul>
    </div>
    
	<div class="category-post text-part-menutab">
    	<div id="line-category-post"></div>
        <ul>
        <li><div id="category-post-title">Categories</div></li>
    	{volist name="cate" id="ca"}
    		<li><div id="category-post-1"><a href="{:url('index/index/index')}?keywords={$ca.catename}">{$ca.catename}</a></div></li>
    	{/volist}
        </ul>
    </div>
    
    </div>
</div>